<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Burger logger!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>

	{{{ body }}}

	<script>

		console.log("Handlebars & JQuery ready...")

		// Create burger 
		$(".create-form").on("submit", function (event) {
			console.log("clicked");
			// Make sure to preventDefault on a submit event.
			event.preventDefault();

			let newBurger = {
				burger_name: $("#burgerName").val().trim(),
				devoured: false,
			};

			console.log(newBurger);

			// Send the POST request.
			$.ajax("/api/burgers", {
				type: "POST",
				data: newBurger,
			}).then(function () {
				console.log("added new burger to the db");
				// Reload the page to get the updated list
				location.reload();
			});
		});

		// Devour burger
		$(".devour-btn").on("click", function (event) {
			let id = $(this).data("burger_id");
			console.log(id);
			
			// Send the PUT request.
			$.ajax("/api/burgers/" + id, {
				type: "PUT",
				data: id,
			}).then(function () {
				console.log("burger devoured");
				// Reload the page to get the updated list
				location.reload();
			});
		});



	</script>
</body>

</html>

