<h1>Burgers</h1>

<h2>Burgers to devour: </h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <div> {{ burger_name }} </div>
    {{/unless}}
    {{/each}}
</ul>

<h2>Add a burger: </h2>

<form>
    <label for="burgerName">Burger name:</label>
    <input type="text" id="burgerName" name="burgerName">
    <button type="submit">Add a burger</button>
</form>

<h2>Burger devoured: </h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <div> {{ burger_name }} </div>
    {{/if}}
    {{/each}}
</ul>